.profile-page{

display:flex;
justify-content:center;
padding:40px;

}

.profile-card{

width:450px;
background:white;
border-radius:20px;
padding:40px;
box-shadow:0 15px 30px rgba(0,0,0,.1);

}

.profile-image{

display:flex;
justify-content:center;

}

.profile-image img{

width:140px;
height:140px;
border-radius:50%;
border:5px solid #0d6efd;

}

.profile-card h2{

text-align:center;
margin-top:20px;
color:#0d6efd;

}

.profile-card p{

text-align:center;
margin-bottom:30px;
color:#666;

}

.profile-form{

display:flex;
flex-direction:column;

}

.profile-form label{

margin:10px 0 5px;

}

.profile-form input{

padding:14px;
border:1px solid #ccc;
border-radius:8px;
margin-bottom:15px;

}

.profile-form button{

padding:14px;
background:#0d6efd;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;

}

.profile-form button:hover{

background:#084dbf;

}